# Variables prefixed with VITE_ will be exposed in client-side
# account-ui -> account-api
VITE_ACCOUNT_API_URL_BASE=https://api.people4.eu/account-api
VITE_AUTH_API_URL_BASE=https://app.people4.eu/auth-api
VITE_INVOICE_API_URL_BASE=https://app.people4.eu/invoice-api
